<a href="https://colab.research.google.com/github/MuhammadUsmanAslam111/demo-repo/blob/main/avg_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import pandas as pd

In [31]:
data=pd.read_csv("/content/student_marks.csv")
print(data.head())

  Unnamed: 0 Gender         DOB  Maths  Physics  Chemistry  English  Biology  \
0       John      M  05/04/1988     55       45       56.0       87       21
1     Suresh      M    4/5/1987     75       55        NaN       64       90
2     Ramesh      M   25/5/1989     25       54       89.0       76       95
3    Jessica      F   12/8/1990     78       55       86.0       63       54
4   Jennifer      F    2/9/1989     58       96       78.0       46       96

   Economics  History  Civics
0         52       89      65
1         61       58       2
2         87       56      74
3         89       75      45
4         77       83      53

In [35]:
data.rename(columns={'Unnamed: 0': 'Name'}, inplace=True)
marks_cols = ['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics']
data['Average'] = data[marks_cols].mean(axis=1)
# Display result
print(data[['Name', 'Average']])

       Name    Average
0      John  58.750000
1    Suresh  57.857143
2    Ramesh  69.500000
3   Jessica  68.125000
4  Jennifer  73.375000

In [36]:
data[['Name', 'Average']].to_csv('/content/student_avg.csv', index=False)
print("Average marks saved to student_avg.csv")

Average marks saved to student_avg.csv

In [39]:
data1=pd.read_csv("/content/student_avg.csv")
print(data1.head())

       Name    Average
0      John  58.750000
1    Suresh  57.857143
2    Ramesh  69.500000
3   Jessica  68.125000
4  Jennifer  73.375000